.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-bottom: 1px solid #ccc;
  }
  
  .nav-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links li:first-child {
    margin-right: auto;
  }
  
  .nav-links li:last-child button {
    background-color: #2de0f8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .nav-links a:hover,
  .nav-links a.active {
    color: #00d9ff;
  }